<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDp4-MQ0agGyrj-Jr9SD3MuA0Bxfj2HMVE</string>
	<key>GCM_SENDER_ID</key>
	<string>821504378051</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.insideflyingconcept</string>
	<key>PROJECT_ID</key>
	<string>insideaerotech</string>
	<key>STORAGE_BUCKET</key>
	<string>insideaerotech.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:821504378051:ios:f306a785492b7650b10e76</string>
</dict>
</plist>